%ul-reset {list-style:none;margin:0; padding: 0;}

.slideBar {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: red;
	list-style: none;
	transition:.8s ease margin;
	margin-left: -8em;
	@extend %ul-reset;
}


.landing__profile {
	margin-bottom: 1em;

	@include clearfix;

	img {@extend %float-l;}
	div {@extend %float-l;
		@extend %g-2-3;
		padding-left: 1em;

		.name {padding-right: 1em;}
		.days {padding-left: 6.7em;}
	}
}

.person__header {

	@include clearfix;

	img {@extend %float-l;}
	div {@extend %float-l;
		@extend %g-2-3;
		padding-left: 1em;

		.name {padding-right: 1em;}
		.days {padding-left: 6.7em;}
	}
}



.person__profile {

	.info {
		margin-bottom: 1em;
		@include clearfix;
		img {@extend %float-l;}
		div {@extend %float-l;
		@extend %g-2-3;
		padding-left: 1em;

		.name {padding-right: 1em;}
		.days {padding-left: 6.7em;}
	}	
	}
}

.person__checkboxes {
	ul {
		@extend %ul-reset;
		@extend %float-l;
		width: 45%;

		
		&:nth-child(2n+1) {margin-right: 5%;}

		li {
			margin-bottom: 1em;
		}
	}
}

