  <div class="slideBar">
       <ul class="nav">
         <li class="active"><a ng-href="#">People</a></li>
         <li><a ng-href="#">Settings</a></li>
         <li><a ng-href="#">Occasions</a></li>
       </ul>
  </div>

<article>
  <section class="landing__profile">
    <img src="http://placehold.it/100x100" alt="">
    <div>
      <p> <span class="name">Robert James</span>
      12/25/1987 <br>
      In 3 days
      </p>
    </div>
  </section>
  <section class="landing__profile">
    <img src="http://placehold.it/100x100" alt="">
    <div>
      <p> <span class="name">Robert James</span>
      12/25/1987 <br>
      In 3 days
      </p>
    </div>
  </section>
  <section class="landing__profile">
    <img src="http://placehold.it/100x100" alt="">
    <div>
      <p> <span class="name">Robert James</span>
      12/25/1987 <br>
      In 3 days
      </p>
    </div>
  </section>
  <section class="landing__profile">
    <img src="http://placehold.it/100x100" alt="">
    <div>
      <p> <span class="name">Robert James</span>
      12/25/1987 <br>
      In 3 days
      </p>
    </div>
  </section>
  <section class="landing__profile">
    <img src="http://placehold.it/100x100" alt="">
    <div>
      <p> <span class="name">Robert James</span>
      12/25/1987 <br>
      In 3 days
      </p>
    </div>
  </section>
</article>
 