<div class="slideBar">
       <ul class="nav">
         <li class="active"><a ng-href="#">People</a></li>
         <li><a ng-href="#">Settings</a></li>
         <li><a ng-href="#">Occasions</a></li>
       </ul>
</div>

<article>
  <section class="landing__profile">
    <img src="http://placehold.it/100x100" alt="">
    <div>
      <p> <span class="name">Robert James</span>
      12/25/1987 <br>
      <span class="days">In 3 days</span>
      </p>
    </div>
  </section>
  <section class="landing__profile">
    <img src="http://placehold.it/100x100" alt="">
    <div>
      <p> <span class="name">Robert James</span>
      12/25/1987 <br>
      <span class="days">In 3 days</span>
      </p>
    </div>
  </section>
  <section class="landing__profile">
    <img src="http://placehold.it/100x100" alt="">
    <div>
      <p> <span class="name">Robert James</span>
      12/25/1987 <br>
      <span class="days">In 3 days</span>
      </p>
    </div>
  </section>
  <section class="landing__profile">
    <img src="http://placehold.it/100x100" alt="">
    <div>
      <p> <span class="name">Robert James</span>
      12/25/1987 <br>
      <span class="days">In 3 days</span>
      </p>
    </div>
  </section>
  <section class="landing__profile">
    <img src="http://placehold.it/100x100" alt="">
    <div>
      <p> <span class="name">Robert James</span>
      12/25/1987 <br>
      <span class="days">In 3 days</span>
      </p>
    </div>
  </section>
</article>

<article class="person__profile">
  <section>
    
    <div class="info">
      <img src="http://placehold.it/125x125" alt="">
    <div>
      <p> <span class="name">Robert James</span>
      12/25/1987 <br>
      <span class="days">In 2 days</span>
      </p>
    </div>

    </div>
    
    <form action="">
      <section class="person__checkboxes" >

        <ul>
          <li><label for="art">Art</label>
          <input type="checkbox" name="art" value="art"></li>
           <li><label for="art">Food and Wine</label>
          <input type="checkbox" name="Science Fiction" value="art"></li>
           <li><label for="Science Fiction">Science Fiction</label>
          <input type="checkbox" name="art" value="art"></li>
           <li><label for="art">Hiking</label>
          <input type="checkbox" name="Hiking" value="Hiking"></li>
           <li><label for="art">Cooking</label>
          <input type="checkbox" name="art" value="art"></li>
           <li><label for="art">Music</label>
          <input type="checkbox" name="art" value="art"></li>
           <li><label for="art">Spas</label>
          <input type="checkbox" name="art" value="art"></li>
           <li><label for="art">Sneakers</label>
          <input type="checkbox" name="art" value="art"></li>
          <li><label for="art">Kpop Music</label>
          <input type="checkbox" name="art" value="art"></li>

        </ul>


        <ul>
          <li><label for="art">Art</label>
          <input type="checkbox" name="art" value="art"></li>
           <li><label for="art">Food and Wine</label>
          <input type="checkbox" name="Science Fiction" value="art"></li>
           <li><label for="Science Fiction">Science Fiction</label>
          <input type="checkbox" name="art" value="art"></li>
           <li><label for="art">Hiking</label>
          <input type="checkbox" name="Hiking" value="Hiking"></li>
           <li><label for="art">Cooking</label>
          <input type="checkbox" name="art" value="art"></li>
           <li><label for="art">Music</label>
          <input type="checkbox" name="art" value="art"></li>
           <li><label for="art">Spas</label>
          <input type="checkbox" name="art" value="art"></li>
           <li><label for="art">Sneakers</label>
          <input type="checkbox" name="art" value="art"></li>
          <li><label for="art">Kpop Music</label>
          <input type="checkbox" name="art" value="art"></li>

        </ul>        
      </section>
    </form>
  </section>


</article>
